@import './variables.scss';

.pointer{
  cursor: pointer;
}

.fa-twitter {
  color: $color-brand-twitter;
}

.fa-link{
  color: $color-text-gray;
}

.fa-youtube{
  color: $color-brand-youtube;
}

.fa-instagram{
  color: $color-brand-instagram;
}

.fa-facebook {
  color: $color-brand-facebook;
}

.social-networks {
  text-align: center;

  .networks-inline-list{
    span{
      margin: 10px;
      cursor: pointer;

      &:active, &:focus{
        outline: none;
      }
    }
  }
}

a {
  color: $color-text-black;
  text-decoration: none;

  &:hover{
    color: $color-text-blue;
  }
}
