$color-text-black: #303133;
$color-text-blue: #409EFF;
$color-text-red: #F56C6C;
$color-text-white: #fff;
$color-text-green: #28a745;
$color-text-gray: #909399;
$color-border-gray: #e6e6e6;

$color-brand-facebook: #3b5998;
$color-brand-instagram: #e4405f;
$color-brand-paypal: #00457C;
$color-brand-twitter: #00acee;
$color-brand-youtube: #c4302b;

$tablet-min-width: 768px;
$desktop-min-width: 992px;
$lg-desktop-min-width: 1200px;
